trunk/Fint/monitor-ejb/src/conf/xml-resources/web-service-references/ConsultasWS/wsdl/lorien_8080/ConsultasWSService/ConsultasWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ute.dcomp.ort.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ute.dcomp.ort.edu/" name="ConsultasWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ute.dcomp.ort.edu/" schemaLocation="http://lorien:8080/ConsultasWSService/ConsultasWS?xsd=1" />
</xsd:schema>
</types>
<message name="obtenerFacturasPorClienteEstado">
<part name="parameters" element="tns:obtenerFacturasPorClienteEstado" />
</message>
<message name="obtenerFacturasPorClienteEstadoResponse">
<part name="parameters" element="tns:obtenerFacturasPorClienteEstadoResponse" />
</message>
<message name="obtenerFacturasPasadas">
<part name="parameters" element="tns:obtenerFacturasPasadas" />
</message>
<message name="obtenerFacturasPasadasResponse">
<part name="parameters" element="tns:obtenerFacturasPasadasResponse" />
</message>
<message name="obtenerFacturasPendientes">
<part name="parameters" element="tns:obtenerFacturasPendientes" />
</message>
<message name="obtenerFacturasPendientesResponse">
<part name="parameters" element="tns:obtenerFacturasPendientesResponse" />
</message>
<portType name="ConsultasWS">
<operation name="obtenerFacturasPorClienteEstado">
<input wsam:Action="http://ws.ute.dcomp.ort.edu/ConsultasWS/obtenerFacturasPorClienteEstadoRequest" message="tns:obtenerFacturasPorClienteEstado" />
<output wsam:Action="http://ws.ute.dcomp.ort.edu/ConsultasWS/obtenerFacturasPorClienteEstadoResponse" message="tns:obtenerFacturasPorClienteEstadoResponse" />
</operation>
<operation name="obtenerFacturasPasadas">
<input wsam:Action="http://ws.ute.dcomp.ort.edu/ConsultasWS/obtenerFacturasPasadasRequest" message="tns:obtenerFacturasPasadas" />
<output wsam:Action="http://ws.ute.dcomp.ort.edu/ConsultasWS/obtenerFacturasPasadasResponse" message="tns:obtenerFacturasPasadasResponse" />
</operation>
<operation name="obtenerFacturasPendientes">
<input wsam:Action="http://ws.ute.dcomp.ort.edu/ConsultasWS/obtenerFacturasPendientesRequest" message="tns:obtenerFacturasPendientes" />
<output wsam:Action="http://ws.ute.dcomp.ort.edu/ConsultasWS/obtenerFacturasPendientesResponse" message="tns:obtenerFacturasPendientesResponse" />
</operation>
</portType>
<binding name="ConsultasWSPortBinding" type="tns:ConsultasWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="obtenerFacturasPorClienteEstado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerFacturasPasadas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerFacturasPendientes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ConsultasWSService">
<port name="ConsultasWSPort" binding="tns:ConsultasWSPortBinding">
<soap:address location="http://lorien:8080/ConsultasWSService/ConsultasWS" />
</port>
</service>
</definitions>