Fint/monitor-ejb/src/java/META-INF/wsUTE.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ute.dcomp.ort.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ute.dcomp.ort.edu/" name="wsUTEService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ute.dcomp.ort.edu/" schemaLocation="http://lorien:8080/wsUTEService/wsUTE?xsd=1" />
</xsd:schema>
</types>
<message name="obtenerFacturasPendientes">
<part name="parameters" element="tns:obtenerFacturasPendientes" />
</message>
<message name="obtenerFacturasPendientesResponse">
<part name="parameters" element="tns:obtenerFacturasPendientesResponse" />
</message>
<message name="obtenerFacturasPasadas">
<part name="parameters" element="tns:obtenerFacturasPasadas" />
</message>
<message name="obtenerFacturasPasadasResponse">
<part name="parameters" element="tns:obtenerFacturasPasadasResponse" />
</message>
<message name="obtenerFacturasPorCuentaEstado">
<part name="parameters" element="tns:obtenerFacturasPorCuentaEstado" />
</message>
<message name="obtenerFacturasPorCuentaEstadoResponse">
<part name="parameters" element="tns:obtenerFacturasPorCuentaEstadoResponse" />
</message>
<message name="obtenerCuentasPorCliente">
<part name="parameters" element="tns:obtenerCuentasPorCliente" />
</message>
<message name="obtenerCuentasPorClienteResponse">
<part name="parameters" element="tns:obtenerCuentasPorClienteResponse" />
</message>
<message name="pagarCuenta">
<part name="parameters" element="tns:pagarCuenta" />
</message>
<message name="pagarCuentaResponse">
<part name="parameters" element="tns:pagarCuentaResponse" />
</message>
<portType name="wsUTE">
<operation name="obtenerFacturasPendientes">
<input wsam:Action="http://ws.ute.dcomp.ort.edu/wsUTE/obtenerFacturasPendientesRequest" message="tns:obtenerFacturasPendientes" />
<output wsam:Action="http://ws.ute.dcomp.ort.edu/wsUTE/obtenerFacturasPendientesResponse" message="tns:obtenerFacturasPendientesResponse" />
</operation>
<operation name="obtenerFacturasPasadas">
<input wsam:Action="http://ws.ute.dcomp.ort.edu/wsUTE/obtenerFacturasPasadasRequest" message="tns:obtenerFacturasPasadas" />
<output wsam:Action="http://ws.ute.dcomp.ort.edu/wsUTE/obtenerFacturasPasadasResponse" message="tns:obtenerFacturasPasadasResponse" />
</operation>
<operation name="obtenerFacturasPorCuentaEstado">
<input wsam:Action="http://ws.ute.dcomp.ort.edu/wsUTE/obtenerFacturasPorCuentaEstadoRequest" message="tns:obtenerFacturasPorCuentaEstado" />
<output wsam:Action="http://ws.ute.dcomp.ort.edu/wsUTE/obtenerFacturasPorCuentaEstadoResponse" message="tns:obtenerFacturasPorCuentaEstadoResponse" />
</operation>
<operation name="obtenerCuentasPorCliente">
<input wsam:Action="http://ws.ute.dcomp.ort.edu/wsUTE/obtenerCuentasPorClienteRequest" message="tns:obtenerCuentasPorCliente" />
<output wsam:Action="http://ws.ute.dcomp.ort.edu/wsUTE/obtenerCuentasPorClienteResponse" message="tns:obtenerCuentasPorClienteResponse" />
</operation>
<operation name="pagarCuenta">
<input wsam:Action="http://ws.ute.dcomp.ort.edu/wsUTE/pagarCuentaRequest" message="tns:pagarCuenta" />
<output wsam:Action="http://ws.ute.dcomp.ort.edu/wsUTE/pagarCuentaResponse" message="tns:pagarCuentaResponse" />
</operation>
</portType>
<binding name="wsUTEPortBinding" type="tns:wsUTE">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="obtenerFacturasPendientes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerFacturasPasadas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerFacturasPorCuentaEstado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerCuentasPorCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="pagarCuenta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="wsUTEService">
<port name="wsUTEPort" binding="tns:wsUTEPortBinding">
<soap:address location="http://lorien:8080/wsUTEService/wsUTE" />
</port>
</service>
</definitions>