trunk/Fint/monitor-ejb/src/conf/wsdl/lorien_8080/wsBROUService/wsBROU.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.brou.dcomp.ort.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.brou.dcomp.ort.edu/" name="wsBROUService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.brou.dcomp.ort.edu/" schemaLocation="http://lorien:8080/wsBROUService/wsBROU?xsd=1" />
</xsd:schema>
</types>
<message name="retirarDinero">
<part name="parameters" element="tns:retirarDinero" />
</message>
<message name="retirarDineroResponse">
<part name="parameters" element="tns:retirarDineroResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="obtenerCuenta">
<part name="parameters" element="tns:obtenerCuenta" />
</message>
<message name="obtenerCuentaResponse">
<part name="parameters" element="tns:obtenerCuentaResponse" />
</message>
<portType name="wsBROU">
<operation name="retirarDinero">
<input wsam:Action="http://ws.brou.dcomp.ort.edu/wsBROU/retirarDineroRequest" message="tns:retirarDinero" />
<output wsam:Action="http://ws.brou.dcomp.ort.edu/wsBROU/retirarDineroResponse" message="tns:retirarDineroResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.brou.dcomp.ort.edu/wsBROU/retirarDinero/Fault/Exception" />
</operation>
<operation name="obtenerCuenta">
<input wsam:Action="http://ws.brou.dcomp.ort.edu/wsBROU/obtenerCuentaRequest" message="tns:obtenerCuenta" />
<output wsam:Action="http://ws.brou.dcomp.ort.edu/wsBROU/obtenerCuentaResponse" message="tns:obtenerCuentaResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws.brou.dcomp.ort.edu/wsBROU/obtenerCuenta/Fault/Exception" />
</operation>
</portType>
<binding name="wsBROUPortBinding" type="tns:wsBROU">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="retirarDinero">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="obtenerCuenta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
</binding>
<service name="wsBROUService">
<port name="wsBROUPort" binding="tns:wsBROUPortBinding">
<soap:address location="http://lorien:8080/wsBROUService/wsBROU" />
</port>
</service>
</definitions>