Fint/monitor-ejb/src/conf/xml-resources/web-service-references/ConsultasWS/wsdl/lorien_8080/ConsultasWSService/ConsultasWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://ws.ute.dcomp.ort.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.ute.dcomp.ort.edu/">

<xs:element name="obtenerFacturasPasadas" type="tns:obtenerFacturasPasadas" />

<xs:element name="obtenerFacturasPasadasResponse" type="tns:obtenerFacturasPasadasResponse" />

<xs:element name="obtenerFacturasPendientes" type="tns:obtenerFacturasPendientes" />

<xs:element name="obtenerFacturasPendientesResponse" type="tns:obtenerFacturasPendientesResponse" />

<xs:element name="obtenerFacturasPorClienteEstado" type="tns:obtenerFacturasPorClienteEstado" />

<xs:element name="obtenerFacturasPorClienteEstadoResponse" type="tns:obtenerFacturasPorClienteEstadoResponse" />

<xs:complexType name="obtenerFacturasPorClienteEstado">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="ciUsuario" type="xs:long" minOccurs="0" />
<xs:element name="estadoFactura" type="tns:estado" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerFacturasPorClienteEstadoResponse">
<xs:sequence>
<xs:element name="return" type="tns:factura" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="factura">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0" />
<xs:element name="concepto" type="xs:string" minOccurs="0" />
<xs:element name="estado" type="tns:estado" minOccurs="0" />
<xs:element name="fechaEmision" type="xs:dateTime" minOccurs="0" />
<xs:element name="fechaPago" type="xs:dateTime" minOccurs="0" />
<xs:element name="fechaVencimiento" type="xs:dateTime" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="importe" type="xs:decimal" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0" />
<xs:element name="ci" type="xs:long" minOccurs="0" />
<xs:element name="facturas" type="tns:factura" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerFacturasPasadas">
<xs:sequence>
<xs:element name="ciUsuario" type="xs:long" />
<xs:element name="dias" type="xs:int" />
<xs:element name="usuario" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerFacturasPasadasResponse">
<xs:sequence>
<xs:element name="return" type="tns:factura" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerFacturasPendientes">
<xs:sequence>
<xs:element name="ciUsuario" type="xs:long" />
<xs:element name="usuario" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerFacturasPendientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:factura" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:simpleType name="estado">
<xs:restriction base="xs:string">
<xs:enumeration value="PENDIENTE" />
<xs:enumeration value="PAGA" />
<xs:enumeration value="VENCIDA" />
<xs:enumeration value="ANULADA" />
</xs:restriction>
</xs:simpleType>
</xs:schema>